.panel{
position:fixed;
top:0;
right:-420px;
width:380px;
height:100vh;
background:white;
transition:.4s;
box-shadow:-10px 0 30px rgba(0,0,0,.2);
padding:25px;
overflow:auto;
z-index:999;
}

.show{
right:0;
}

.close{
width:45px;
height:45px;
border:none;
background:#ef4444;
color:white;
font-size:20px;
border-radius:10px;
cursor:pointer;
margin-bottom:25px;
}

.item{
display:flex;
justify-content:space-between;
padding:18px 0;
border-bottom:1px solid #eee;
font-size:17px;
}