.rain{
position:absolute;
width:2px;
height:22px;
background:#8ec5ff;
top:-30px;
animation:rain 1s linear infinite;
}

.rain:nth-child(1){
left:15%;
animation-delay:.2s;
}

.rain:nth-child(2){
left:50%;
animation-delay:.5s;
}

.rain:nth-child(3){
left:75%;
animation-delay:.8s;
}

@keyframes rain{

0%{
transform:translateY(0);
opacity:1;
}

100%{
transform:translateY(700px);
opacity:0;
}

}

.lightning{

position:absolute;

right:120px;

top:40px;

width:0;

height:0;

border-left:20px solid transparent;

border-right:10px solid transparent;

border-top:60px solid yellow;

transform:rotate(20deg);

animation:flash 2s infinite;

}

@keyframes flash{

0%,100%{
opacity:0;
}

50%{
opacity:1;
}

}

.cloud,
.cloud2{

position:absolute;

width:180px;

height:55px;

background:#d6d6d6;

border-radius:60px;

top:60px;

animation:move 18s linear infinite;

}

.cloud{

left:-250px;

}

.cloud2{

left:-600px;

animation-duration:26s;

}

.cloud::before,
.cloud2::before{

content:"";

position:absolute;

width:70px;

height:70px;

background:#d6d6d6;

border-radius:50%;

left:25px;

top:-30px;

}

.cloud::after,
.cloud2::after{

content:"";

position:absolute;

width:90px;

height:90px;

background:#d6d6d6;

border-radius:50%;

right:25px;

top:-45px;

}

@keyframes move{

100%{
transform:translateX(2200px);
}

}

.bird,
.bird2{

position:absolute;

font-size:26px;

animation:bird 15s linear infinite;

}

.bird{

top:80px;

left:-100px;

}

.bird2{

top:130px;

left:-350px;

animation-duration:20s;

}

@keyframes bird{

100%{

transform:translateX(2200px);

}

}